$font_size_h1: 3.6rem;
$font_size_h2: 3.25rem;
$font_size_h3: 2.9rem;
$font_size_h4: 2.55rem;
$font_size_h5: 2.2rem;
$font_size_h6: 1.85rem;
$font_size_p: 1.5rem;
$font_size_label: 1.35rem;
$line_height_multiplier: 1.45;