@mixin transition($transition) {
    -webkit-transition: $transition;
    -ms-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin border-radius($border-radius) {
    -webkit-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -o-border-radius: $border-radius;
    border-radius: $border-radius;
}

@mixin box-shadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

@mixin box-sizing($box-sizing) {
    -webkit-box-sizing: $box-sizing;
    -ms-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    -o-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -ms-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin background-size($background-size) {
    -webkit-background-size: $background-size;
    -ms-background-size: $background-size;
    -moz-background-size: $background-size;
    -o-background-size: $background-size;
    background-size: $background-size;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -ms-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin filter($filter) {
    -webkit-filter: $filter;
    -ms-filter: $filter;
    -moz-filter: $filter;
    -o-filter: $filter;
    filter: $filter;
}

@mixin text-size-adjust($text-size-adjust) {
    -webkit-text-size-adjust: $text-size-adjust;
    -ms-text-size-adjust: $text-size-adjust;
    -moz-text-size-adjust: $text-size-adjust;
    -o-text-size-adjust: $text-size-adjust;
    text-size-adjust: $text-size-adjust;
}