$PX_400px: 22.22rem;
$PX_340px: 18.88rem;
$PX_300px: 16.66rem;
$PX_200px: 11.11rem;
$PX_180px: 10rem;
$PX_160px: 8.88rem;
$PX_140px: 7.77rem;
$PX_120px: 6.66rem;
$PX_100px: 5.55rem;
$PX_80px: 4.44rem;
$PX_60px: 3.33rem;
$PX_40px: 2.22rem;
$PX_20px: 1.11rem;
$PX_10px: 0.55rem;
$PX_2px: 0.112rem;
$PX_1px: 0.0556rem;
$Per_100: 100%;
$Per_90: 90%;
$Per_80: 80%;
$Per_70: 70%;
$Per_60: 60%;
$Per_50: 50%;
$Per_40: 40%;
$Per_33: 33.33%;
$Per_30: 30%;
$Per_25: 25%;
$Per_20: 20%;
$Per_15: 15%;
$Per_10: 10%;
$Per_5: 5%;
$Per_0: 0%;